.header {
    padding-top: 54px;

    //header-logo
    &-logo {
        display: flex;
        align-items: center;
        z-index: 2;

        //header-logo__img
        &__img {
            margin-right: 10px;
            cursor: pointer;
        }

        //header-logo__bText
        &__bText {
            margin-bottom: 3px;
            color: #FFF;
            font-size: 20px;
            font-weight: 700;
            line-height: normal;
        }

        //header-logo__text
        &__text {
            color: #FFF;
            font-size: 14px;
            font-weight: 400;
            line-height: normal;
        }
    }

    //header-phone
    &-phone {
        z-index: 2;
        display: none;

        //header-phone__img
        &__img {
            display: inline-block;
        }

        //header-phone__number
        &__number {
            display: inline-block;
            color: rgba(255, 255, 255, 0.75);
            font-size: 14px;
            font-weight: 700;
        }
    }

    .nav {
        z-index: 2;

        //nav-list
        &-list {
            padding: 10px;

            //nav-list__item
            &__item {
                display: inline-block;
                padding-left: 25px;

                &:first-child {
                    padding-left: 0;
                }

                //nav-list__item--active

            }

            //nav-list__link
            &__link {
                color: #FFFFFFBF;
                font-size: 20px;
                font-weight: 600;
                line-height: 124%;

                //nav-list__link--active
                &--active {
                    color: #E7084E;
                    position: relative;

                    &::after {
                        position: absolute;
                        content: '';
                        width: 100%;
                        height: 3px;
                        background-color: #E7084E;
                        left: 0;
                        bottom: -12px;
                    }
                }
            }
        }
    }

    //header-contact
    &-contact {
        z-index: 2;

        //header-contact__text
        &__text {
            color: #FFF;
            font-size: 14px;
            font-weight: 300;
            line-height: 99.179%;
            margin-bottom: 8px;
        }

        //header-contact__icon
        &__icon {
            margin-left: 31px;
            border-radius: 6px;
            background: linear-gradient(55deg, #FF0179 0%, #F60A33 100%);
            box-shadow: 0px 4px 10px 0px rgba(232, 95, 130, 0.25), 0px 4px 5px 0px rgba(217, 248, 255, 0.50) inset;
            padding: 5px;

            //header-contact__icon--right
            &--right {
                margin-left: 16px;
            }
        }
    }

    //header-burgerNav
    &-burgerNav {
        overflow: hidden;
        position: relative;
        z-index: 2;
        margin-left: 14px;

        //header-burgerNav__list
        &__list {
            display: none;
        }

        //header-burgerNav__item
        &__item {}

        //header-burgerNav__link
        &__link {
            color: white;
            padding: 14px 16px;
            text-decoration: none;
            font-size: 17px;
            display: block;

            &:hover {
                background-color: #ddd;
                color: black;
            }
        }

        //header-burgerNav__btn
        &__btn {
            opacity: 1;
        }

        //header-burgerNav--mobile
        &--mobile {
            display: none;
        }
    }
}


@media (max-width: 576px) {

    .header {
        padding-top: 17px;
        text-align: center;

        //header-logo
        &-logo {

            //header-logo__img
            &__img {
                margin-right: 9px;
                width: 38px;
                height: 40px;
            }

            //header-logo__bText
            &__bText {
                display: none;
            }

            //header-logo__text
            &__text {
                display: none;
            }
        }

        //header-phone
        &-phone {
            display: block;
        }

        .nav {
            display: none;
        }

        //header-contact
        &-contact {
            z-index: 2;

            //header-contact__text
            &__text {
                display: none;
            }

            //header-contact__icon
            &__icon {
                margin-left: 0;

                //header-contact__icon--right
                &--right {
                    margin-left: 8px;
                }
            }
        }

        //header-burgerNav
        &-burgerNav {

            //header-burgerNav--mobile
            &--mobile {
                display: block;
            }
        }
    }
}