.main {

    //main-content
    &-content {
        margin-top: 160px;
        position: relative;
        z-index: 1;

        &::after {
            position: absolute;
            content: '';
            background-image: url(/img/mainPage_bg.png);
            width: 100%;
            height: 950px;
            z-index: -1;
            left: 0;
            top: 0;
            margin-top: -275px;
        }

        .wrapper {
            align-items: start;
        }

        //main-content__col
        &__col {
            padding-top: 530px;
        }

        //main-content__title
        &__title {
            color: #FFF;
            font-family: 'Proxima Nova ExCn';
            font-size: 66px;
            font-weight: 400;
            line-height: 89%;
            text-transform: uppercase;
            margin-bottom: 30px;
        }

        //main-content__bText
        &__bText {
            color: #FFF;
            font-family: 'Proxima Nova Cn';
            font-size: 34px;
            font-weight: 600;
            line-height: 120%;
            text-transform: uppercase;
            margin-bottom: 30px;
        }

        //main-content__text
        &__text {
            color: #FFF;
            font-size: 18px;
            font-weight: 400;
            line-height: 150%;
            max-width: 500px;
            position: relative;
            margin-bottom: 60px;
        }

        //main-content__tooltipIcon
        &__tooltipIcon {
            position: absolute;
            right: 47px;
            top: 25px;
        }

        //main-content__btn
        &__btn {
            color: #FFF;
            text-align: center;
            font-family: Proxima Nova;
            font-size: 20px;
            font-style: normal;
            font-weight: 700;
            line-height: 150%;
            padding: 25px 75px 26px 74px;
            border-radius: 16px;
            background: linear-gradient(130deg, #DC146A 0%, #EE023F 69.80%, #FF012D 98.96%), #D9D9D9;
            border: none;
            box-shadow: 0px 6px 0px 0px rgba(126, 8, 8, 0.75);
            margin-bottom: 104px;
            cursor: pointer;
        }

        //main-content__video
        &__video {
            display: flex;
            align-items: center;
            border: 1px dashed #F60A33;
            border-radius: 49px;
            padding: 5px 32px 4px 5px;
            width: 333px;
            position: relative;

            &::after {
                position: absolute;
                content: '';
                background-image: url(/img/strelka.svg);
                transform: rotate(-1deg);
                width: 170px;
                height: 64px;
                right: -168px;
                top: -50px;
            }
        }

        //main-content__videoBtn
        &__videoBtn {
            cursor: pointer;
        }

        //main-content__videoText
        &__videoText {
            max-width: 244px;
            color: #FFF;
            font-family: Proxima Nova;
            font-size: 14px;
            font-weight: 300;
            line-height: 130%;
            margin-left: 10px;

            //main-content__videoText--purple
            &--purple {
                color: #DB00FF;
            }
        }
    }

    //main-celebrity
    &-celebrity {
        transform: skewX(-20deg);
        background: rgba(255, 255, 255, 0.80);
        border-radius: 16px;
        width: 255px;
        padding: 27px 19px 15px 22px;
        position: relative;

        &::after {
            position: absolute;
            content: 'Дарья Умнова';
            color: #FFF;
            font-size: 20px;
            font-weight: 700;
            line-height: 120%;
            background: linear-gradient(60deg, #4C00E4 4.10%, #DC146A 58.17%, #EE023F 79.85%, #FF017A 94.92%);
            transform: skewX(0deg);
            border-radius: 10px;
            padding: 7px 16px 7px 22px;
            top: -20px;
            left: -30px;
        }

        &::before {
            position: absolute;
            content: 'celebrity';
            color: #F60A33;
            font-size: 18px;
            font-weight: 400;
            line-height: 150%;
            background-image: url(/img/vector.svg);
            transform: skewX(20deg);
            width: 110px;
            top: -18px;
            right: 38px;
            padding-left: 20px;
            padding-top: 3px;
            height: 25px;
        }

        //main-celebrity__job
        &__job {
            transform: skewX(20deg);
            font-size: 18px;
            font-weight: 400;
            line-height: 120%;
            background: linear-gradient(95deg, rgba(163, 0, 255, 0.94) 0%, #F60A33 100%);
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }

        //main-celebrity__text
        &__text {
            transform: skewX(20deg);
            color: #656565;
            font-size: 14px;
            font-weight: 300;
            line-height: 130%;

            //main-celebrity__text--purple
            &--purple {
                color: #F60A33;
            }

            //main-celebrity__text--1
            &--1 {
                padding-left: 8px;
            }

            //main-celebrity__text--2
            &--2 {
                padding-left: 14px;
            }

            //main-celebrity__text--3
            &--3 {
                padding-left: 20px;
            }

            //main-celebrity__text--4
            &--4 {
                padding-left: 27px;
            }
        }
    }

    //main-bloger
    &-bloger {
        position: relative;

        //main-bloger__img
        &__img {
            position: absolute;
            bottom: -145px;
            right: -75px;
        }
    }

    .start {
        position: relative;
        padding-bottom: 106px;
        z-index: 1;

        &::after {
            position: absolute;
            content: '';
            background-image: url(/img/start_background.png);
            width: 100%;
            height: 1410px;
            margin-top: -50px;
            left: 0;
            top: 0;
            z-index: -1;
        }

        //start-columns
        &-columns {
            .wrapper {
                align-items: start;
            }
        }

        //start__title
        &__title {
            color: var(--whight, #D9D9D9);
            text-align: center;
            font-family: 'Proxima Nova Cn';
            font-size: 34px;
            font-weight: 600;
            line-height: 120%;
            text-transform: uppercase;
            width: 673px;
            padding-left: 250px;
            margin: 50px 0 66px 0;

            //start__title--purple
            &--purple {
                background: var(--grad-1-main, linear-gradient(60deg, #4C00E4 4.10%, #DC146A 58.17%, #EE023F 79.85%, #FF017A 94.92%));
                background-clip: text;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
            }
        }

        //start-option
        &-option {

            //start-option__btn
            &__btn {
                display: none;
                color: var(--whight, #D9D9D9);
                font-size: 14px;
                font-weight: 400;
                line-height: 120%;
                border-radius: 50px;
                padding: 14px 40px;
                background: #26121D;
                border: none;
                cursor: pointer;

                //start-option__btn--left
                &--left {
                    margin-right: 18px;
                }

                //start-option__btn--active
                &--active {
                    background: var(--01, #DC146A);
                }
            }
        }

        //start-withUs
        &-withUs {
            padding: 28px 24px 77px 44px;
            border: 1px solid #F60A33;
            border-radius: 16px;

            //start-withUs__title
            &__title {
                color: var(--whight, #D9D9D9);
                font-family: Proxima Nova;
                font-size: 25px;
                font-style: normal;
                font-weight: 700;
                line-height: 120%;
                padding-bottom: 10px;
            }

            //start-withUs__btn
            &__btn {
                margin: 56px 0 0 19px;
                padding: 25px 141px 26px 141px;
                text-align: center;
            }

            //start-withUs__list
            &__list {
                counter-reset: item;
            }

            //start-withUs__item
            &__item {
                counter-increment: item;
                position: relative;
                color: var(--whight, #D9D9D9);
                font-family: Proxima Nova;
                font-size: 18px;
                font-style: normal;
                font-weight: 700;
                line-height: 120%;
                width: 422px;
                padding: 24px 24px 24px 56px;
                border-radius: 16px;
                border: 3px solid #FF017A;
                position: relative;
                margin-top: 28px;

                &::before {
                    position: absolute;
                    content: counter(item) ' ';
                    border-radius: 8px;
                    background: var(--whight, linear-gradient(0deg, #FFF 0%, #FFF 100%), #D9D9D9);
                    box-shadow: 4px 4px 10px 0px rgba(232, 95, 130, 0.25);
                    color: #DC146A;
                    width: 40px;
                    height: 40px;
                    text-align: center;
                    font-size: 28px;
                    font-weight: 600;
                    line-height: 130%;
                    left: -23px;
                    top: 50%;
                    transform: translate(0, -50%);
                }
            }
        }

        //start-withoutUs
        &-withoutUs {
            padding: 28px 24px 28px 44px;
            border: 1px solid rgba(128, 128, 128, 0.20);

            //start-withoutUs__title
            &__title {
                color: var(--whight, #D9D9D9);
                font-family: Proxima Nova;
                font-size: 25px;
                font-style: normal;
                font-weight: 700;
                line-height: 120%;
                padding-bottom: 10px;
            }

            //start-withoutUs__list
            &__list{
                counter-reset: item;
            }
            //start-withoutUs__item
            &__item{
                counter-increment: item;
                position: relative;
                color: var(--whight, #D9D9D9);
                font-family: Proxima Nova;
                font-size: 18px;
                font-style: normal;
                font-weight: 400;
                line-height: 120%;
                width: 322px;
                padding: 24px 24px 24px 56px;
                border-radius: 16px;
                border: 1px solid #808080;
                position: relative;
                margin-top: 28px;

                &::before{
                    position: absolute;
                    content: counter(item) ' ';
                    border-radius: 8px;
                    background: #BABABA;
                    box-shadow: 4px 4px 10px 0px rgba(232, 95, 130, 0.25);
                    color: #808080;
                    width: 40px;
                    height: 40px;
                    padding-top: 2px;
                    text-align: center;
                    font-size: 28px;
                    font-weight: 600;
                    line-height: 130%;
                    left: -23px;
                    top: 50%;
                    transform: translate(0, -50%);
                }
            }
        }
    }

    .launch {
        padding-top: 68px;
        position: relative;
        z-index: 1;

        &::after {
            position: absolute;
            content: '';
            background-image: url(/img/launch_background.png);
            width: 100%;
            height: 1098px;
            left: 0;
            top: 0;
            z-index: -1;
        }

        //launch__title
        &__title {
            color: var(--whight, #D9D9D9);
            text-align: center;
            font-family: 'Proxima Nova Cn';
            font-size: 34px;
            font-weight: 600;
            line-height: 120%;
            text-transform: uppercase;
            margin-bottom: 35px;

            //launch__title--red
            &--red {
                background: var(--gradient-text, linear-gradient(130deg, #DC146A 0%, #EE023F 69.80%, #FF012D 98.96%));
                background-clip: text;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
            }
        }

        //launch__description
        &__description {
            color: #FFF;
            text-align: center;
            font-size: 25px;
            font-weight: 400;
            line-height: 150%;
            margin-bottom: 120px;
        }

        //launch-model
        &-model {
            padding: 50px 24px;
            border: 1px solid var(--whight, #D9D9D9);
            border-radius: 16px;
            position: relative;
            cursor: pointer;

            &::before {
                position: absolute;
                content: '1';
                border-radius: 8px;
                background: var(--whight, linear-gradient(0deg, #FFF 0%, #FFF 100%), #D9D9D9);
                box-shadow: 4px 4px 10px 0px rgba(232, 95, 130, 0.25);
                color: #DC146A;
                width: 40px;
                height: 40px;
                padding-top: 2px;
                text-align: center;
                font-size: 28px;
                font-weight: 600;
                line-height: 130%;
                top: -22px;
                left: 116px;
            }

            &::after {
                position: absolute;
                content: '';
                background-image: url(/img/arrow.svg);
                width: 87px;
                height: 22px;
                right: -134px;
                top: 120px;

            }

            &:hover {
                transform: scale(1.1);
                border: 3px solid;
                border-image-source: linear-gradient(to right, #4C00E4, #FF012D);
                border-image-slice: 1;

                // &::after {
                //     transform: scale(1.5);
                // }
            }

            //launch-model__text
            &__text {
                color: var(--whight, #D9D9D9);
                text-align: center;
                font-size: 18px;
                font-weight: 600;
                line-height: 150%;
                width: 222px;
                margin-top: 10px;
            }

            //launch-model__img
            &__img {
                padding-left: 70px;

                //launch-model__img--1
                &--1 {
                    padding-bottom: 14px;
                }
            }

            //launch-model--2
            &--2 {
                &::before {
                    content: '2';
                }
            }

            //launch-model--3
            &--3 {
                &::before {
                    content: '3';
                }

                &::after {
                    transform: rotate(90deg);
                    top: 310px;
                    right: 140px;
                }
            }

            //launch-model--4
            &--4 {
                &::before {
                    content: '6';
                }

                &::after {
                    transform: rotate(180deg);
                }
            }

            //launch-model--5
            &--5 {
                &::before {
                    content: '5';
                }

                &::after {
                    transform: rotate(180deg);
                }
            }

            //launch-model--6
            &--6 {
                &::before {
                    content: '4';
                }

                &::after {
                    content: none;
                }
            }
        }

        //launch-podblock
        // &-podblock{
        //     position: relative;
        //     &:hover::after{
        //         position: absolute;
        //         content: '';
        //         transform: scale(1.2);
        //         border: 3px solid transparent;
        //         background-image: linear-gradient(to right, #4C00E4, #FF012D);
        //         border-radius: 16px;
        //     }
        // }

        //launch__col2
        &__col2 {
            margin-top: 125px;
        }

        //launch__btn
        &__btn {
            padding: 25px 141px 26px 141px;
            margin: 44px 350px 0 350px;
            margin-bottom: 35px;
        }
    }
}


@media (max-width: 576px) {
    .main {

        //main-content
        &-content {
            text-align: center;

            //main-content__title
            &__title {
                font-size: 34px;
            }
        }

        .start {

            //start__title
            &__title {
                font-size: 22px;
                width: 292px;
            }
        }

        .launch {

            //launch__title
            &__title {
                margin: 0 auto 35px auto;
                font-size: 22px;
                max-width: 224px;
            }

            //launch__description
            &__description {
                margin: 0 auto 120px auto;
                font-size: 16px;
                max-width: 229px;
            }

            //launch-model
            &-model {
                flex-basis: 49%;
                max-width: 49%;
                padding: 16px 12px 19px 12px;

                //launch-model__text
                &__text {
                    width: 105px;
                    margin: 0;
                    font-size: 13px;
                    font-weight: 700;
                    line-height: 120%;
                }

                //launch-model__img
                &__img {
                    margin: 0 45px;
                    padding: 0;
                    width: 55px;
                    height: 55px;
                }
            }
        }
    }
}