@media (max-width: 992px) {
    .main {

        //main-content
        &-content {
            margin-top: 130px;
            padding-bottom: 78px;

            &::after {
                height: 133%;
                margin-top: -211px;
                background-position: right 0% bottom 40%;
            }

            //main-content__title
            &__title {
                font-size: 55px;
            }

            //main-content__bText
            &__bText {
                font-size: 25px;
            }

            //main-content__text
            &__text {
                font-size: 14px;
            }

            //main-content__tooltipIcon
            &__tooltipIcon {
                right: -13px;
                top: 0px;
            }

            //main-content__tooltip
            &__tooltip {
                &:hover:after {
                    padding: 10px;
                    font-size: 12px;
                    width: 120px;
                    height: 30px;
                    left: 20px;
                    top: -20px;
                    border-radius: 16px;
                }



            }

            //main-content__btn
            &__btn {
                font-size: 13px;
                padding: 20px 50px;
            }

            //main-content__video
            &__video {
                padding: 5px 20px 0 5px;
                max-width: 320px;
                margin-top: 70px;
            }
        }

        //main-celebrity
        &-celebrity {
            padding: 20px 15px 10px 15px;
            top: 406px;
            right: 43px;

            &::before {
                font-size: 17px;
                width: 90px;
                right: 29px;
            }
        }

        //main-bloger
        &-bloger {

            //main-bloger__img
            &__img {
                bottom: -421px;
                right: -33px;
                width: 400px;
            }
        }

        .start {
            padding: 29px 0 46px 0;

            .col {
                max-width: 75%;
                flex-basis: 75%;
            }

            .wrapper {
                justify-content: center;
            }

            &::after {
                height: 100%;
                margin-top: 0;
                background-position: right 70% bottom 65%;
            }

            //start__title
            &__title {
                font-size: 30px;
                padding: 0;
                margin: 0 auto;
                margin-bottom: 25px;
            }


            //start-option
            &-option {
                display: flex;
                margin-bottom: 20px;
                justify-content: center;

                //start-option__btn
                &__btn {
                    font-size: 15px;
                    padding: 16px 45px;
                }
            }

            //start-withUs
            &-withUs {
                display: none;
                max-width: 100%;
                flex-basis: 100%;
                padding: 28px 24px 28px 44px;

                //start-withUs__title
                &__title {
                    font-size: 24px;
                }

                //start-withUs__btn
                &__btn {
                    margin: 20px 0 0 0;
                    padding: 17px 153px;
                    font-size: 16px;
                    border-radius: 15px;
                    width: 100%;
                }

                //start-withUs__item
                &__item {
                    font-size: 16px;
                    padding: 14px 18px 14px 38px;
                    margin-top: 20px;
                }
            }

            //start-withoutUs
            &-withoutUs {

                //start-withoutUs__title
                &__title {
                    font-size: 24px;
                }

                //start-withoutUs__item
                &__item {
                    font-size: 16px;
                    padding: 18px 16px 18px 38px;
                    margin-top: 20px;
                }
            }
        }


        .launch {
            padding: 47px 0 35px 0;
            text-align: center;

            .col {
                max-width: 25%;
                flex-basis: 25%;
            }

            &::after {
                background-position: right 45% bottom 0%;
            }

            //launch__title
            &__title {
                font-size: 30px;
            }

            //launch__description
            &__description {
                font-size: 22px;
                margin-bottom: 100px;
            }

            //launch-model
            &-model {
                padding: 35px 24px 10px;

                &::before {
                    left: 50%;
                    bottom: 179px;
                    transform: translate(-50%);
                }

                &::after {
                    top: 90px;
                    right: -90px;

                }

                &:hover {
                    transform: scaleY(1);
                    border: 1px solid var(--whight, #D9D9D9);
                }

                //launch-model__text
                &__text {
                    font-size: 16px;
                    margin-top: 0;
                    height: 81px;
                }

                //launch-model__img
                &__img {
                    width: 70px;
                    height: 70px;

                    //launch-model__img--1
                    &--1 {
                        padding-bottom: 0;
                    }
                }

                //launch-model--3
                &--3 {

                    &::after {
                        top: 235px;
                        right: 110px;
                    }
                }

                //launch-model--4
                &--4 {
                    margin-top: 90px;
                }

                //launch-model--5
                &--5 {
                    margin-top: 90px;
                }

                //launch-model--6
                &--6 {
                    margin-top: 90px;
                }
            }

            //launch__btn
            &__btn {
                margin: 56px 0 0 0;
                padding: 20px 136px;
                font-size: 18px;
            }
        }
    }
}