@media (max-width: 768px) {
    .main {

        //main-content
        &-content {
            text-align: center;
            margin-top: 24px;
            padding-bottom: 30px;

            &::after {
                margin-top: -102px;
                height: 113%;
                background-position: right 5% bottom 65%;
            }

            .col {
                max-width: 100%;
                flex-basis: 100%;
            }

            // main-content__col 
            &__col {
                display: none;
                padding-top: 100px;
            }

            //main-content__title
            &__title {
                font-size: 40px;
                margin-bottom: 10px;
            }

            //main-content__bText
            &__bText {
                font-size: 20px;
                margin-bottom: 14px;
            }

            //main-content__text
            &__text {
                font-size: 16px;
                margin: 0;
                padding: 0 8%;
            }

            //main-content__tooltipIcon
            &__tooltipIcon {
                right: -220px;
                top: 5px;
            }

            //main-content__tooltip
            &__tooltip {

                position: absolute;

                &:hover:after {
                    padding: 10px;
                    width: 181px;
                    height: 36px;
                    left: 110px;
                    top: 26px;
                    font-size: 14px;
                }
            }

            //main-content__btn
            &__btn {
                font-size: 16px;
                padding: 20px 60px;
                margin-top: 24px;
                border-radius: 20px;
                display: none;

                //main-content__btn--mobile
                &--mobile {
                    display: inline-block;
                }
            }

            //main-content__video
            &__video {
                border-radius: 39px;
                padding: 5px 17px 5px 5px;
                height: 67px;
                text-align: start;
                margin-top: 215px;

                &::after {
                    background-image: url(/img/strelka2.svg);
                    width: 39px;
                    height: 90px;
                    right: 19px;
                    top: -93px;
                }
            }

            //main-content__videoBtn
            &__videoBtn {
                width: 70px;
                height: 70px;
                padding-top: 4px;
            }

            //main-content__videoText
            &__videoText {
                font-size: 14px;
                margin-left: 6px;
            }
        }

        //main-celebrity
        &-celebrity {
            padding: 17px 17px 9px 17px;
            text-align: start;
            top: 490px;
            right: 33%;

            //main-celebrity--mobile
            &--mobile {
                display: block;
            }

            &::before {
                font-size: 13px;
                background-image: url('/img/vector2.svg');
                width: 58px;
                right: 54px;
                top: -12px;
                height: 27px;
            }

            //main-celebrity__name
            &__name {
                font-size: 18px;
            }

            //main-celebrity__nameDiv
            &__nameDiv {
                border-radius: 7px;
                padding: 3px 8px 3px 8px;
                top: -12px;
                left: -24px;
            }

            //main-celebrity__job
            &__job {
                font-size: 16px;
            }

            //main-celebrity__text
            &__text {
                font-size: 12px;
            }

            //main-celebrity__textBlock
            &__textBlock {
                padding-left: 12px;
            }
        }

        //main-celebrityBlock
        &-celebrityBlock {
            padding-top: 250px;
            display: flex;
            justify-content: center;
        }

        //main-bloger
        &-bloger {
            position: relative;

            //main-bloger--mobile
            &--mobile {
                display: block;
            }

            //main-bloger__img
            &__img {
                bottom: -203px;
                left: -145px;
                width: 350px;
                height: 385px;
            }
        }

        .start {
            padding: 29px 0 46px 0;

            .col {
                max-width: 100%;
                flex-basis: 100%;
            }

            .wrapper {
                justify-content: center;
            }

            &::after {
                height: 100%;
                margin-top: 0;
                background-position: right 70% bottom 65%;
            }

            //start__title
            &__title {
                font-size: 26px;
                padding: 0;
                margin: 0 auto;
                margin-bottom: 25px;
            }


            //start-option
            &-option {
                display: flex;
                margin-bottom: 20px;
                justify-content: center;

                //start-option__btn
                &__btn {
                    font-size: 15px;
                    padding: 16px 45px;
                }
            }

            //start-withUs
            &-withUs {
                display: none;
                max-width: 100%;
                flex-basis: 100%;
                padding: 28px 24px 28px 44px;

                //start-withUs__title
                &__title {
                    font-size: 22px;
                    padding-bottom: 2px;
                }

                //start-withUs__btn
                &__btn {
                    margin: 20px 0 0 -20px;
                    padding: 17px 155px;
                    font-size: 16px;
                    border-radius: 15px;
                }

                //start-withUs__item
                &__item {
                    font-size: 15px;
                    padding: 14px 18px 14px 38px;
                    margin-top: 15px;
                }
            }

            //start-withoutUs
            &-withoutUs {

                //start-withoutUs__title
                &__title {
                    font-size: 22px;
                    padding-bottom: 0;
                }

                //start-withoutUs__item
                &__item {
                    font-size: 15px;
                    padding: 18px 16px 18px 38px;
                    margin-top: 15px;
                }
            }
        }

        .launch {
            padding: 29px 0 33px 0;
            position: relative;
            z-index: 1;
            text-align: center;

            .col {
                max-width: 31%;
                flex-basis: 31%;
            }

            &::after {
                width: 100%;
                height: 100%;
                left: 0;
                top: 0;
                z-index: -1;
                background-position: right 45% bottom 65%;
            }

            //launch__title
            &__title {
                font-size: 27px;
                margin-bottom: 10px;
            }

            //launch__description
            &__description {
                font-size: 18px;
                margin-bottom: 20px;
            }

            //launch-model
            &-model {
                padding: 15px 15px 22px 15px;
                border: 2px solid;
                border-image-source: linear-gradient(to right, #4C00E4, #FF012D);
                border-image-slice: 1;
                border-radius: 20px;
                margin-bottom: 30px;

                &::before {
                    border-radius: 5px;
                    background: var(--Grad_2_button, linear-gradient(92deg, #DC146A 1.98%, #EE023F 70.22%, #FF012D 98.73%), #D9D9D9);
                    box-shadow: 3px 3px 6px 0px rgba(232, 95, 130, 0.25);
                    color: #FFF;
                    width: 20px;
                    height: 20px;
                    padding-top: 0;
                    font-size: 16px;
                    bottom: -10px;
                    left: 50%;
                    transform: translate(-50%);
                }

                &::after {
                    background-image: url('/img/arrow_small.svg');
                    width: 10px;
                    height: 19px;
                    right: -16px;
                    top: 44%;
                    pointer-events: none;
                }

                &:hover {
                    transform: scaleY(1);
                    border: 2px solid;
                    border-image-source: linear-gradient(to right, #4C00E4, #FF012D);
                    border-image-slice: 1;
                }

                //launch-model__text
                &__text {
                    font-size: 13px;
                    font-weight: 700;
                    line-height: 120%;
                    margin-top: 0;

                    //launch-model__text--line
                    &--line {
                        overflow: hidden;
                        text-overflow: ellipsis;
                        display: -moz-box;
                        display: -webkit-box;
                        line-clamp: 3;
                        box-orient: vertical;
                        -moz-box-orient: vertical;
                        -webkit-line-clamp: 3;
                        -webkit-box-orient: vertical;
                        height: 47px;
                    }
                }

                //launch-model__img
                &__img {
                    width: 55px;
                    height: 55px;

                    //launch-model__img--1
                    &--1 {
                        padding-bottom: 0;
                    }
                }

                //launch-model--2
                &--2 {
                    &::before {
                        content: '2';
                    }

                    &::after {
                        transform: rotate(0);
                        right: -16px;
                    }
                }

                //launch-model--3
                &--3 {
                    padding-bottom: 37px;

                    &::before {
                        content: '3';
                    }

                    &::after {
                        transform: rotate(90deg);
                        top: 154px;
                        right: 46%;
                    }
                }

                //launch-model--4
                &--4 {
                    margin-top: 0;

                    &::before {
                        content: '6';
                    }

                    &::after {
                        transform: rotate(180deg);
                        right: -15px;
                    }
                }

                //launch-model--5
                &--5 {
                    margin-top: 0;
                    padding-bottom: 37px;

                    &::before {
                        content: '5';
                    }

                    &::after {
                        transform: rotate(180deg);
                        right: -15px;
                    }
                }

                //launch-model--6
                &--6 {
                    margin-top: 0;
                    padding-bottom: 37px;

                    &::before {
                        content: '4';
                    }

                    &::after {
                        content: none;
                    }
                }
            }

            //launch-podblock
            &-podblock {
                text-align: center;
            }

            //launch__btn
            &__btn {
                margin: 10px 0;
                padding: 18px 119px;
            }
        }
    }
}
